<div class="testimonials" style="background-image: url(../../../assets/img/comiendo_burguer.jpg);">
    <div class="shadow">
        <div class="container text-center">
            <h2 class="shadow-letters font-weight-bold mt-3 mb-4">Testimonios</h2>
            <h5 class="shadow-letters mb-5">¡Muchas gracias por sus palabras! Nuestros clientes son el combustible que nos permite seguir creciendo.</h5>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="icon quote text-center mt-3">
                        <i class="fa-solid fa-quote-right fa-2x"></i>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">Sin palabras, los productos de Sanchoplancha son increíbles, llegue por recomendación de un amigo hace tiempo atrás y me sorprendió la calidad, atención y asesoramiento ¡los súper recomiendo!</p>
                        <h5 class="card-title">Nadia Flores</h5>
                        <p class="card-text"><small class="text-muted">MENDOZA, ARGENTINA</small></p>
                    </div>
                    <div class="avatar-box">
                        <img src=" ../../../assets/img/Nadia_Flores.jpeg " class="card-img-bottom avatar">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="icon quote text-center mt-3">
                        <i class="fa-solid fa-quote-right fa-2x"></i>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">Muchisimas gracias Sanchoplancha, estoy muy satisfecho con ustedes, son realmente muy buenos, hace mucho estaba buscando hasta que los encontré, compare entre muchos precios y ustedes son los mejores! </p>
                        <h5 class="card-title">Pablo Rodriguez</h5>
                        <p class="card-text"><small class="text-muted">MENDOZA, ARGENTINA</small></p>
                    </div>
                    <div class="avatar-box">
                        <img src="../../../assets/img/Pablo_Rodriguez.jpeg" class="card-img-bottom avatar">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="icon quote text-center mt-3">
                        <i class="fa-solid fa-quote-right fa-2x"></i>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">Sin dudas la mejor calidad y precio que yo conozco, quede 100% satisfecha y no paro de recomendarlos, Sanchoplancha es una empresa seria que ofrece productos de muy buena calidad.</p>
                        <h5 class="card-title">Maria Santander</h5>
                        <p class="card-text"><small class="text-muted">MENDOZA, ARGENTINA</small></p>
                    </div>
                    <div class="avatar-box">
                        <img src=" ../../../assets/img/Maria_Santander.jpeg " class="card-img-bottom avatar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>