<app-slider></app-slider>
<div class="container mt-5 mb-5">
    <h2 class="title" style="font-size: 300%;">
        Ahorra tiempo y dinero haciendo tu<br>compra en<br>Sancho Plancha
    </h2>
    <div class="container info">
        <p class="text-center">En Sancho Plancha estamos comprometidos con la calidad de los productos que brindamos.</p>
    </div>
    <div class="container mt-5 mb-5" style="text-align: center;">
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon" style="color: #00bcd4;">
                        <i class="fa-solid fa-check fa-4x"></i>
                    </div>
                    <h4>Visión</h4>
                    <p class="text-center">Somos un grupo de personas con una clara visión: satisfacer a nuestros clientes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon" style="color: #4caf50;">
                        <i class="fa-solid fa-handshake fa-4x"></i>
                    </div>
                    <h4>Misión</h4>
                    <p class="text-center">Somos un conjunto de personas comprometidas con brindar productos de calidad a nuestros clientes, transparencia y sinceridad.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon" style="color: #f44336;">
                        <i class="fa-solid fa-star fa-4x"></i>
                    </div>
                    <h4>Calidad</h4>
                    <p class="text-center">Estamos principalmente enfocados en la confianza y especialmente comprometidos con el desarrollo de una actividad que logre satisfacer siempre.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <img src="../../../assets/img/delivery_walking.jpg" class="card-img" style="height: 300px;">
                    <div class="card-img-overlay">
                        <h6 class="card-title text-center">LO MEJOR ESTÁ EN SANCHO PLANCHA</h6>
                        <h3 class="card-title text-center font-weight-bold">Efectivo, Transferencua y Mercado Pago</h3>
                        <p class="card-text text-center">La innovación siempre presente en todas las áreas, es eso lo que garantiza la excelencia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <img src="../../../assets/img/posnet.jpg" class="card-img" style="height: 300px;">
                    <div class="card-img-overlay">
                        <h6 class="card-title text-center">SANCHO PLANCHA ES UN SÍMBOLO DE CALIDAD</h6>
                        <h3 class="card-title font-weight-bold text-center">Efectivo, Transferencua y Mercado Pago</h3>
                        <p class="card-text text-center">La innovación siempre presente en todas las áreas, es eso lo que garantiza la excelencia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 text center">
                <img src="../../../assets/img/lomos.jpeg" style="width: 100%;">
            </div>
            <div class="col-md-6">
                <h2>Siempre al mejor precio y con garantía de nuestro trabajo</h2>
                <div class="info info-horizontal">
                    <div>
                        <h4 class="info.title enlace_titulo">Ética y valores</h4>
                        <p>Sancho Plancha apuesta al país y trabaja permanentemente de manera eficiente para generar riqueza, trabajo y bienestar.</p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div>
                        <h4 class="info.title enlace_titulo">Apoyo a los trabajadores</h4>
                        <p>El comportamiento de todas las personas que conforman Sancho Plancha denota integridad y conducta ética por sobre todo.</p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div>
                        <h4 class="info.title enlace_titulo">Responsabilidad social</h4>
                        <p>En Sancho Plancha, los trabajadores son considerados el activo más preciado. Como fundamento del éxito de nuestro Food Truck.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="feature-5" style="background-image: url(../../../assets/img/lomos.jpeg);">
    <div class="shadow">
        <div class="text-center mt-5 mb-5">
            <h2 class="shadow-letters font-weight-bold">No te pierdas nuestras promociones en Sanchoplancha</h2>
        </div>
        <div class="container mt-4 ">
            <div class="row" style="text-align: center; ">
                <div class="col-sm-4 up-left">
                    <div class="info ">
                        <div class="icon " style="color: #FFFFFF; text-shadow: 0px 0px 25px #000000a1 !important; ">
                            <i class="fa-solid fa-face-smile-wink fa-2x "></i>
                        </div>
                        <h4 class="shadow-letters font-weight-bold">Amamos lo que hacemos</h4>
                        <p class="shadow-letters ">Creemos que el amor por lo que uno hace es esencial para crecer, además de la buena atención siempre.</p>
                    </div>
                </div>
                <div class="col-sm-4 up-center">
                    <div class="info ">
                        <div class="icon " style="color: #FFFFFF; text-shadow: 0px 0px 25px #000000a1 !important; ">
                            <i class="fa-solid fa-heart fa-2x "></i>
                        </div>
                        <h4 class="shadow-letters font-weight-bold">Nos mueve la pasión</h4>
                        <p class="shadow-letters ">Para lograr grandes cosas es importante la pasión, por eso en Sancho Plancha realizamos todo con pasión.</p>
                    </div>
                </div>
                <div class="col-sm-4 up-rigth">
                    <div class="info ">
                        <div class="icon " style="color: #FFFFFF; text-shadow: 0px 0px 25px #000000a1 !important; ">
                            <i class="fa-solid fa-thumbs-up fa-2x "></i>
                        </div>
                        <h4 class="shadow-letters font-weight-bold">Siempre positivismo</h4>
                        <p class="shadow-letters ">Sancho Plancha tiene personas positivas y pro-activas dispuestas a ayudarte en todas tus necesidades.</p>
                    </div>
                </div>
            </div>
            <div class="row " style="text-align: center; ">
                <div class="col-sm-4 down-left">
                    <div class="info ">
                        <div class="icon " style="color: #FFFFFF; text-shadow: 0px 0px 25px #000000a1 !important; ">
                            <i class="fa-solid fa-lock fa-2x "></i>
                        </div>
                        <h4 class="shadow-letters font-weight-bold">ASitio web 100% seguro</h4>
                        <p class="shadow-letters ">Podes navegar por nuestro sitio web, el cual es seguro y resguarda tu información con la última tecnología. </p>
                    </div>
                </div>
                <div class="col-sm-4 down-center">
                    <div class="info ">
                        <div class="icon " style="color: #FFFFFF; text-shadow: 0px 0px 25px #000000a1 !important; ">
                            <i class="fa-solid fa-envelope fa-2x "></i>
                        </div>
                        <h4 class="shadow-letters font-weight-bold">Asesoramiento personalizado</h4>
                        <p class="shadow-letters ">En Sancho Plancha nos enfocamos en atender a nuestros clientes de manera personalizada y especializada.</p>
                    </div>
                </div>
                <div class="col-sm-4 down-rigth">
                    <div class="info ">
                        <div class="icon " style="color: #FFFFFF; text-shadow: 0px 0px 25px #000000a1 !important; ">
                            <i class="fa-brands fa-whatsapp fa-2x "></i>
                        </div>
                        <h4 class="shadow-letters font-weight-bold">Háblanos a nuestro WhatsApp</h4>
                        <p class=" shadow-letters ">Siempre que quieras podes háblarnos por WhatsApp al 2622356189 y estaremos dispuestos a asesorarte.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-5">
                <div class="card-image-nueva">
                    <img src="../../../assets/img/telefono_whatsapp.jpeg" class="img-fluid rounded-start" style="height: 100%; border-radius: 6px;">
                </div>
            </div>
            <div class="col-md-7 mb-5">
                <div class="card-body">
                    <p class="card-text texto-violeta">SANCHO PLANCHA ES TU MEJOR OPCIÓN</p>
                    <h3 class="card-title">No dude en hacer su consulta por WhatsApp</h3>
                    <p class="card-text"><small class="text-muted">Estamos seguros que nuestros productos van a encantarte, ya que tenemos la experiencia necesaria par ofrecerte la mejor y mas rica comida con niveles de calidad increíbles!</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mt-5">
        <div class="row g-0">
            <div class="col-md-7">
                <div class="card-body">
                    <p class="card-text texto-violeta">EXPERIENCIA</p>
                    <h3 class="card-title">Todo al mejor precio en Sancho Plancha </h3>
                    <p class="card-text"><small class="text-muted">Gracias a los cientos de clientes que nos eligen y siguen eligiendo día a día
                                estamos continuamente mejorando e incorporando productos a la altura de las exigencias.</small></p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card-image-nueva">
                    <img src="../../../assets/img/lomo_desarmado.jpeg" class="img-fluid rounded-start" style="height: 100%; border-radius: 6px;">
                </div>
            </div>
        </div>
    </div>
</div>

<app-testimonios></app-testimonios>

<app-contacto></app-contacto>

<app-novedades></app-novedades>