<app-slider></app-slider>
<div class="container mt-5 mb-5">
    <h2 class="title" style="font-size: 300%;">
        Ahorra tiempo y dinero haciendo tu<br>compra en<br>Sancho Plancha
    </h2>
    <div class="container">
        <p class="text-center" style="color: #abb2b9;">En Sancho Plancha estamos comprometidos con la calidad de los productos que brindamos.</p>
    </div>
    <div class="container mt-5 mb-5" style="text-align: center;">
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon" style="color: #00bcd4;">
                        <i class="fa-solid fa-check fa-4x"></i>
                    </div>
                    <h4>Visión</h4>
                    <p class="text-center" style="color: #abb2b9;">Somos un grupo de personas con una clara visión: satisfacer a nuestros clientes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon" style="color: #4caf50;">
                        <i class="fa-solid fa-handshake fa-4x"></i>
                    </div>
                    <h4>Misión</h4>
                    <p class="text-center" style="color: #abb2b9;">Somos un conjunto de personas comprometidas con brindar productos de calidad a nuestros clientes, transparencia y sinceridad.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div class="icon" style="color: #f44336;">
                        <i class="fa-solid fa-star fa-4x"></i>
                    </div>
                    <h4>Calidad</h4>
                    <p class="text-center" style="color: #abb2b9;">Estamos principalmente enfocados en la confianza y especialmente comprometidos con el desarrollo de una actividad que logre satisfacer siempre.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <img src="../../../assets/img/delivery_walking.jpg" class="card-img" style="height: 300px;">
                    <div class="card-img-overlay">
                        <h6 class="card-title text-center">LO MEJOR ESTÁ EN SANCHO PLANCHA</h6>
                        <h3 class="card-title text-center font-weight-bold">Efectivo, Transferencua y Mercado Pago</h3>
                        <p class="card-text text-center">La innovación siempre presente en todas las áreas, es eso lo que garantiza la excelencia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <img src="../../../assets/img/posnet.jpg" class="card-img" style="height: 300px;">
                    <div class="card-img-overlay">
                        <h6 class="card-title text-center">SANCHO PLANCHA ES UN SÍMBOLO DE CALIDAD</h6>
                        <h3 class="card-title font-weight-bold text-center">Efectivo, Transferencua y Mercado Pago</h3>
                        <p class="card-text text-center">La innovación siempre presente en todas las áreas, es eso lo que garantiza la excelencia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>