.title {
    text-align: center;
    margin-bottom: 30px;
    color: #3C4858;
    font-weight: bold;
    font-size: 40px;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.card.bg-dark {
    border-color: white;
    border-radius: 10px;
}

.card-img {
    border-radius: 10px;
}

.card-title {
    text-shadow: 0px 0px 5px #000000;
}

.card-text {
    text-shadow: 0px 0px 5px #000000;
}