<div class="container mb-5">
    <div class="row">
        <div class="col mt-5">
            <h5 class="textFooter">Páginas</h5>
            <ul class="list-group">
                <li class="list-group-item listFooter">
                    <div class="icon mr-3" style="color: #3c4858;">
                        <i class="fa-solid fa-house mr-3"></i>
                        <a class="" [routerLink]="['home']" routerLinkActive="active">INICIO</a>
                    </div>
                </li>
                <li class="list-group-item listFooter">
                    <div class="icon mr-3" style="color: #3c4858;">
                        <i class="fa-solid fa-dollar-sign mr-4"></i>
                        <a class="" [routerLink]="['prices']" routerLinkActive="active">PRECIOS</a>
                    </div>
                </li>
                <li class="list-group-item listFooter">
                    <div class="icon mr-3" style="color: #3c4858;">
                        <i class="fa-solid fa-circle-question mr-3"></i>
                        <a class="" [routerLink]="['about']" routerLinkActive="active">QUIENES SOMOS</a>
                    </div>
                </li>
                <li class="list-group-item listFooter">
                    <div class="icon mr-3" style="color: #3c4858;">
                        <i class="fa-solid fa-address-card mr-3"></i>
                        <a class="" [routerLink]="['contacto']" routerLinkActive="active">CONTACTO</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col mt-5">
            <h5 class="textFooter">¿Por qué nosotros?</h5>
            <ul class="list-group">
                <li class="list-group-item listFooter">
                    <div class="icon mr-3" style="color: #3c4858;">
                        <i class="fa-solid fa-heart mr-3" style="float: left;"></i>
                        <p style="float: left;">Años de experiencia y una trayectoria increíble.</p>
                    </div>
                </li>
                <li class="list-group-item listFooter">
                    <div class="icon mr-3" style="color: #3c4858;">
                        <i class="fa-solid fa-handshake mr-3" style="float: left;"></i>
                        <p style="float: left;">Nuestro principal valor es la confianza y honestidad.</p>
                    </div>
                </li>
                <li class="list-group-item listFooter">
                    <div class="icon mr-3" style="color: #3c4858;">
                        <i class="fa-solid fa-medal mr-3" style="float: left;"></i>
                        <p style="float: left;">Amamos lo que hacemos y eso nos empuja hacia arriba.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col mt-5">
            <h5 class="textFooter">Seguinos</h5>
            <div class="icon mr-3">
                <a href="https://www.facebook.com/sanchoplanchafoodtruck"><i class="fa-brands fa-facebook" style="float: left; color: #3c4858;"></i></a>
            </div>
            <div class="icon mr-3">
                <a href="https://www.instagram.com/sanchoplancha2020/?utm_medium=copy_link"><i class="fa-brands fa-instagram" style="float: left; color: #3c4858; margin-left: 3px;"></i></a>
            </div>
        </div>
    </div>
    <hr>
    <p style="text-align: center; color: rgba(0, 0, 0, 0.5);">© Todos los derechos reservados 2022</p>
</div>